{% extends 'index.html' %}

{% block content %}
<div class="flex flex-wrap justify-between gap-8 mt-4">
    <div class="w-full md:w-1/4 lg:w-1/6 bg-blue-400 rounded p-2">
        <div class="rounded-md items-center hover:scale-2"><img src="https://images.unsplash.com/photo-1600063643596-44b7f09de5a7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" alt="" srcset=""></div>
        <div class="text-center text-md">Nama</div>
        <div class="text-center text-sm font-bold">Jabatan</div>
    </div> 
</div>
 
{% endblock %} 